
/* =============== Type =============== */

body{
    color: #0C2A56;
}

h1 { 
    font-family: "Cherry Swash", serif;
    font-size: 25pt;
}

h2{
    font-family: "Big Shoulders Text", sans-serif;
}

p{
    font-family: "Encode Sans", sans-serif;
}

h3{
    font-family: "Barlow Condensed", sans-serif;
}

.text_center{ 
    text-align: center;
}

a{ 
    text-decoration: none;
    color: #0C2A56;
}


/* =============== Backgrounds =============== */

body{
    background-image: url(Images/CatBackRound.jpg);
    background-size: 60%;
}

#container {
    background-color: #ffffff;
}

.PaperBlue{
    background-image: url(Images/BluePaper.jpg);
    background-size: 30%;
    overflow: hidden;
}

.gray_back{
    background-image: url(Images/CatBackRound_Gray.jpg);
    background-size: 60%;
}

/* =============== Layout =============== */

*{ 
    cursor:   url('Images/Cusror_Paw.svg'), pointer;
}

a{
    cursor: url('Images/Cursor_Point.svg'), auto;
}


html {
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

img{
width: 500px;
padding: auto;
margin: auto;
}

#container { 
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: 62.5rem;
    padding-top: 80px;
}

.top_buffer{
    padding-top: 20pt;
}

.bottom_buffer{
    padding-bottom: 20pt;
}

.panel_title {
    background-color: #BADD9F;
    padding: 10pt 20pt;
    margin-top: 40px;
    margin-bottom: 20px;
}


/* =============== Header/Footer =============== */
header { 
    position: fixed;
    top: 0;
    left: auto;
    width: 62.5rem;
    z-index: 1;

    margin: 0;
} 

header h1 {
    font-size: 25px;
    float: left;
    text-align: center;
    padding: 5px;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


.nav_logo{
    width: 60px;
    float: left;
    padding: 14px 20px;
}

.head_nav a{
    float: right;
    padding: 15px;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: transparent;

    font-family: "Big Shoulders Text", sans-serif;
    font-size: 25px;
    text-align: center;
    color: #0C2A56;
}

.head_nav a:hover {
    background-color: #ECEEC7;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #C8C8A1;
    color: #5a4200;

    transition-duration: .5s;
}


footer { 
    text-align: center;
}

#legal { 
    font-size: 15px;
    padding: 10px;
}
.fa-brands { 
    font-size: 20pt;
    color: #0C2A56;
    padding-top: 10pt;

}

.fa-brands:hover{
    cursor: url('Images/Cursor_Point.svg'), auto;
    color: #ECEEC7;
}

/* =============== Splash =============== */

#splash { 
    background-image: url(Images/BluePaper.jpg);
    background-size: cover;
    
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    padding-top: 25pt;
    padding-bottom: 25pt;
}

#splash_logo{ 
    width: 300px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#splash_text {
    font-size: 200%;
    padding-right: 5%;
    
}

#splash_text h1 {
    font-size: 200%;
    padding-right: 5%;
    
}

/* =============== Img Panels =============== */

#img_panel {
    padding-right: 20pt;
    padding-left: 20pt;

}

.gallery {
    display: block;
 
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

.gallery .img_container {
    background-color: #D9D9D9;
    display: inline-block;
    color: white;
    text-align: center;

    margin-right: 10px;
}

.img_container{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.image { 
    display: block;
    width: 100%;
}

.image_horizontal{
    transform: translatey(-10%);
    transform: translatex(-20%);
}

.img_txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #0e4ba775;
    opacity: 0;
    transition: 1s ease;
}

.img_txt:hover {
    opacity: 1;
}

.img_txt a {
    color: white;
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 40pt;
    text-align: center;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* =============== Gallery =============== */

#gal_nav { 
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 20px;
    padding: 25pt;
    padding-right: 50px;
    padding-bottom: 10px;

    height: 400px;
    overflow: hidden;
    
}

#gal_nav_txt{ 
    background-color:#BADD9F;
    
}

#gal_nav_txt ul{ 
    list-style: none;
    margin: 10px;
    padding: 0;
}

#gal_nav_txt li{ 
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 24px;

    float: left;
    padding: 15px;
    margin-top:10px;
}

#gal_nav_txt li:hover {
    background-color: #ECEEC7;
    border-radius: 20px;
    transition: .5s;
}

#gal_nav_txt a:hover {
    color: #5a4200;
}


.gal_image {
    background-image: url(Images/Gallery_CatBackround.jpg);
    background-size: 50%;

}

#big_gal{ 
    background-color: #D9D9D9;

    margin: auto;
    width: 95%;

    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#big_gal .img_container{
    width: 100%;
    height: 100%;
}

/* =============== Art Page =============== */

.art_nav a{
    float: right;
    padding: 12px;

    font-size: 40px;
    text-align: center;
    color: #0C2A56;
}

.art_nav i{ 
    color: #7288aa;
    
}

.art_nav:hover i{
    color: #0C2A56;
    cursor: url('Images/Cursor_Point.svg'), auto;
}

#art{ 
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 95%;

    padding-bottom: 90px;

    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    align-items: center;
}

#art div{
    text-align: left;
    padding: 20px 0;
    margin: 10px;

}

#art img{ 
   background-color: #5D8EBF;
}

.arrow{ 
    font-size: 30pt;
}

.arrow i{ 
    color: #7288aa;
    
}

.arrow:hover i{
    color: #0C2A56;
    cursor: url('Images/Cursor_Point.svg'), auto;
}

#art_txt h2{
    font-size: 30pt;
    margin-top: 0;
    margin-bottom: 0; 
}

#art_txt h3{
    margin-top: 0;
    margin-bottom: 0; 

    font-weight: 600;
}

#art_txt p{
    margin-top: 15px;
    margin-bottom: 15px; 

    padding-bottom: 20px;

    font-weight: 550;
}

.art_button{ 
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;

    background-color: #5D8EBF;
    border-style:solid ;
    border-radius: 40px;
    border-width: 5px;
    border-color: #5D8EBF;

    padding: 14px 80px;
    margin: 10%;

    transition: .5s;

}

.art_button:hover {
    background-color: #BADD9F;
    border-color: #90b871;
    color: #1b3a19;
}


/* =============== About =============== */

#about { 
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25pt;
}

#about_img{ 
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;

    background-image: url(Images/Joey.jpg);
    background-size:cover;
    padding-bottom: 600px;
}

#about_text{ 
    background-color:#ECEEC7;
    padding: 10%;
    text-align: center;
}

/* =============== Contact/Socials =============== */

#contact { 
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25pt;
    padding-bottom: 5pt;
}

#contact img {
    width: 100%;
}

#contact a{
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: "Big Shoulders Text", sans-serif;
    font-size: 20pt;

    text-decoration: underline;
}

#contact_text{ 
    background-color:#ECEEC7;
    padding: 10%;
    text-align: left;
    font-size: 150%;

}

.c_white{ 
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20pt;

    align-items: center;
    justify-content: center;
        
        
}

.c_yellow{ 
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20pt;
    padding-left: 40pt;
    
    align-items: center;
    justify-content: center;

    background-color:#ECEEC7;

}

.social_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: center;

}


.social_txt{
    font-size: 130%;
    width: 500px;
}

.social_txt p{
    margin-bottom: 40pt;
}

.button{ 
    font-family: "Cherry Swash", serif;
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

    background-color: #5D8EBF;
    border-style: solid;
    border-radius: 30px;
    border-width: 8px;
    border-color: #5D8EBF;

    padding: 20px 80px;

    transition: .5s;

}

.button:hover {
    background-color: #BADD9F;
    border-color: #90b871;
    color: #1b3a19;
}

/* =============== CV =============== */

.CV_title {
    background-color: #BADD9F;
    padding: 10pt 20pt;
    margin-bottom: 20px;
}

#CV_txt{
    padding: 0pt 20pt;
}

#CV_txt h2{
    padding: 0pt;
    margin: 0pt;

    text-decoration: underline;
    font-size: 24pt;
}

#CV_txt h3{
    margin: 5pt auto;

    font-weight: 600;
}

#CV_txt ul{
    list-style: none;

    font-size: 15pt;
    
}
