
/* =============== Type =============== */

body{
    color: #0C2A56;
}

h1 { 
    font-family: "Cherry Swash", serif;
    font-size: 25pt;
}

h2{
    font-family: "Big Shoulders Text", sans-serif;
}

p{
    font-family: "Encode Sans", sans-serif;
}

h3{
    font-family: "Barlow Condensed", sans-serif;
}

.text_center{ 
    text-align: center;
}

a{ 
    text-decoration: none;
    color: #0C2A56;
}


/* =============== Backgrounds =============== */

body{
    background-image: url(Images/CatBackRound.jpg);
    background-size: 60%;
}

#container {
    background-color: #ffffff;
}

.PaperBlue{
    background-image: url(Images/BluePaper.jpg);
    background-size: 30%;
    overflow: hidden;
}

/* =============== Layout =============== */

img{
width: 500px;
padding: auto;
margin: auto;
}

#container { 
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: 62.5rem;
}

.top_buffer{
    padding-top: 20pt;
}

.bottom_buffer{
    padding-bottom: 20pt;
}

.panel_title {
    background-color: #BADD9F;
    padding: 10pt 20pt;
    margin-top: 40px;
    margin-bottom: 20px;
}


/* =============== Header/Footer =============== */

header h1 {
    font-size: 25px;
    float: left;
    text-align: center;
    padding: 5px;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav_logo{
    width: 60px;
    float: left;
    padding: 14px 20px;
}

.head_nav a{
    float: right;
    padding: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;

    font-family: "Big Shoulders Text", sans-serif;
    font-size: 25px;
    text-align: center;
    color: #0C2A56;
}

.head_nav a:hover {
    background-color: #ECEEC7;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #C8C8A1;
    color: #5a4200;
}


footer { 
    text-align: center;
}

#legal { 
    font-size: 15px;
    padding: 10px;
}
.fa-brands { 
    font-size: 20pt;
    color: #0C2A56;
    padding-top: 10pt;

}

/* =============== Splash =============== */

#splash { 
    background-image: url(Images/BluePaper.jpg);
    background-size: cover;
    
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    padding-top: 25pt;
    padding-bottom: 25pt;
}

#splash_logo{ 
    width: 300px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#splash_text {
    font-size: 200%;
    padding-right: 5%;
    
}

#splash_text h1 {
    font-size: 200%;
    padding-right: 5%;
    
}

/* =============== Img Panels =============== */

#img_panel {
    padding-right: 20pt;
    padding-left: 20pt;

}

.gallery {
    display: block;
 
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

.gallery .img_container {
    background-color: #D9D9D9;
    display: inline-block;
    color: white;
    text-align: center;

    margin-right: 10px;
    padding: 20px;
}

.img_container{
    position: relative;
    width: 300px;
}

.image { 
    display: block;
    width: 100%;
}

.img_txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #f31c1c60;
    opacity: 0;
    transition: .5s ease;
}

.img_txt:hover {
    opacity: 1;
}

.img_txt a {
    color: white;
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 50pt;
    text-align: center;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =============== Gallery =============== */

#gal_nav { 
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 20px;
    padding: 25pt;
    padding-right: 50px;
    
}

#gal_nav_txt{ 
    background-color:#ECEEC7;
}

#gal_nav_txt ul{ 
    list-style: none;
}

#gal_nav_txt li{ 
    padding-bottom: 20px;
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 25px;
    color: #0C2A56;
}

.gal_container{
    position: relative;
    
}

.gal_image { 
    display: block;
    width: 100%;
    height: 400px;
}

/* =============== About =============== */

#about { 
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25pt;
}

#about_img{ 
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;

    background-image: url(Images/Joey.jpg);
    background-size:cover;
    padding-bottom: 600px;
}

#about_text{ 
    background-color:#ECEEC7;
    padding: 10%;
    text-align: center;
}

/* =============== Contact/Socials =============== */

#contact { 
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25pt;
    padding-bottom: 5pt;
}

#contact img {
    width: 100%;
}

#contact a{
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: "Big Shoulders Text", sans-serif;
    font-size: 20pt;

    text-decoration: underline;
}

#contact_text{ 
    background-color:#ECEEC7;
    padding: 10%;
    text-align: left;
    font-size: 150%;

}

.c_white{ 
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20pt;

    align-items: center;
    justify-content: center;
        
        
}

.c_yellow{ 
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20pt;
    padding-left: 40pt;
    
    align-items: center;
    justify-content: center;

    background-color:#ECEEC7;

}

.social_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: center;

}


.social_txt{
    font-size: 130%;
    width: 500px;
}

.social_txt p{
    margin-bottom: 40pt;
}

.button{ 
    font-family: "Cherry Swash", serif;
    font-size: 1.67rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

    padding-top: 0.083rem;
    padding-bottom: 0.083rem;

    background-color: #5D8EBF;
    border-radius: 30px;

    padding: 20px 80px;

}

.button:hover {
    background-color: #BADD9F;
    border-style: solid;
    border-width: 8px;
    border-color: #90b871;
    color: #1b3a19;

    padding: 12px 72px;
    

}
